<li about="<%= project.subject%>" typeof="doap:Project">
  <a href="/accounts/<%== project.owner.login %>/repos/<%== project.name%>">
    <%== project.owner.login %>/<span property="doap:name"><%== project.name %></span>
  </a>
</li>
