<li>
  <a about="<%= project.subject%>"
     typeof="doap:Project"
     href="<%= BASE_URI %>/accounts/<%== project.owner.login %>/projects/<%== project.name%>">
    <span property="dc:creator"
      resource="<%== project.owner.subject %>"
    ><%== project.owner.login %></span
    >/<span property="doap:name"><%== project.name %></span>
  </a>
</li>
