<li about="<%= repo.project.subject%>" typeof="doap:Project">
  <div rel="doap:repository" typeof="doap:GitRepository" resource="<%=repo.subject%>">
    <a href="<%= BASE_URI %>/accounts/<%== repo.owner.login %>/repos/<%== repo.name%>">
      <%== repo.owner.login %>/<span about="<%= repo.project.subject%> property="doap:name"><%== repo.name %></span>
    </a>
  </div>
</li>
