<li about="<%= repo.project_node%>" typeof="doap:Project">
  <a href="/users/<%== repo.owner.login %>/repo/<%== repo.name%>">
    <%== repo.owner.login %>/<span property="doap:name"><%== repo.name %></span>
  </a>
</li>
