<section>
  <h1><%= title %></h1>
  <p about="<%== account.subject %>" typeof="foaf:OnlineAccount">
    Account created
    <time property="dc:created" datetime="<%=account.created_at%>">
      <%== RDF::Literal::DateTime.new(account.created_at).humanize %>
    </time> with account name
    <a property="foaf:account" href="<%== account.subject %>">
      <span property="foaf:accountName"><%= account.login %></span>
    </a>.
  </p>

  <div class="person" about=<%= account.person.subject%> typeof="foaf:Person">
    <p>
      <% if account.person.name -%>
      <span property="foaf:name"><%== account.person.name %></span>
      <% else -%>
      <span property="foaf:nick"><%== account.login %></span>
      <% end -%>
      <% if account.person.email -%>
        <img property="foaf:depiction" src="<%= account.person.depiction%>"/>
      <% end -%>
      has <%= account.person.projects.length %> projects,
      follows <%= account.person.followings.length %> users,
      and is followed by <%= account.person.followers.length %> users.
    </p>
    <p>
      <%== account.person.name || account.person.login %> lives in
      <span property="foaf:based_near"><%== account.person.location %></span>.
    </p>
  
    <section><h2><a href="/user/<%= account.login %>/projects">Projects</a></h2>
      <ul>
        <%= partial "project", :collection => account.person.projects.sort_by {|r| r.name.downcase } %>
      </li>
    </section>

    <section><h2>Followers</h2>
      <ul>
        <%= partial "person", :collection => account.person.followers.sort_by {|u| u.name || u.login} %>
      </li>
    </section>

    <section><h2>Following</h2>
      <ul>
        <%= partial "person", :collection => account.person.followings.sort_by {|u| u.name || u.login} %>
      </li>
    </section>
  </div>
</section>